<div class = "contain_1" style = "display:block">
<h2 class="title">About</h2>
<hr id = "hhr" class="about-hr" >
<p class = "about-text"> 
  Thank you for participating in this research opportunity! We greatly appreciate you taking time out of your schedule
  to help us better understand your perspective behind the wheel. Before we move on to the questions regarding your
  experiences with your company’s algorithm, we would like to know more you and your time working for your
  company(s). Please answer each question below thoroughly and truthfully. For more open-ended questions, please
  do not reveal any private or personally identifiable information about yourself or others in your answers.
</p>
<br> <br>
<form action="#" id = "about_form">
  <h4  class="subheader"> Work Experience</h4> <br/>
  <label for = "which" class="question"> Which companies have you worked for? </label>
  <input id = "which" type="text" name="lower" value="" placeholder="Uber, lyft, postmates"> <br> <br>

  <label for = "long" class="question"> How long have you worked for these companies? </label>
  <input id = "long" type="text" name="upper" value="" placeholder="2 years"> <br> <br>

  <label for = "service" class="question"> Is this service your main source of income or a side gig? </label>
  <input id = "service" type="text" name="upper" value="" placeholder="2 years"><br> <br>

  <label for = "actively" class="question"> Are you still actively driving for your companies? </label>
  <input id = "actively" type="text" name="upper" value="" placeholder="2 years"><br> <br>

  <label for = "deactivated" class="question"> Have you ever been deactivated from any of your selected companies? If so, why? </label>
  <input id = "deactivated" type="text" name="upper" value="" placeholder="2 years"> <br> <br>

  <h4 class="subheader"> Algortithmic Experience</h4> <br/>

  <label for = "pending" class="question"> Can you describe how your company’s algorithm matches you with pending requests? </label>
  <input id = "pending" type="text" name="upper" value="" placeholder="Uber, lyft, postmates"> <br> <br>

  <label for = "satisfied" class="question"> Are you satisfied with your company’s matching algorithm? Why or why not? </label>
  <input id = "satisfied" type="text" name="upper" value="" placeholder="Uber, lyft, postmates"> <br> <br> <br>
  <a class="waves-effect waves-dark btn" id = "about_next_btn"> Next </a>
  <br><br>
</form>


<script type="text/javascript">
  $("#about_next_btn").click(function(event) {
   which  = ($("#which")[0]).value
   long = ($("#long")[0]).value
   service = ($("#service")[0]).value
   actively = ($("#actively")[0]).value
   deactivated = ($("#deactivated")[0]).value
   pending = ($("#pending")[0]).value
   satisfied = ($("#satisfied")[0]).value
   curr_user = parseInt(<%=current_user.id %>)
   $.ajax({
     url: "/abouts?participant_id="+ curr_user + "&which=" + which + "&long="+long+"&service="+service+"&actively="+actively+"&deactivated="+deactivated+"&pending="+pending+"&satisified="+satisfied,
     type: "post",
     success: function(){
       console.log('Saved Successfully');
       window.location.href = "/pairwise_comparisons/new"
     },
     error:function($xhr){
       console.log($xhr);
     }
   });
  });
</script>

</div>