<div id = "cat_con" style = "width:90%;margin-left:5%;display:none">
  <h4 style = "color:#3d6ab1;font-weight:bold"> Add Categorical Feature</h4> <br>
  <hr style ='overflow:visible;width:117.5%;margin-left:-9%;color:white;border-width: 1px;'>
  <br>
<form action="#">
  <label for = "feature-name" style = "color:black;font-weight:bold;font-size:1.38em;margin-bottom:0.5vh;"> Feature Name </label>
  <input id = "feature-name" type="text" name="featurename" value="" placeholder="Feature Name">
  <p id = "error_1_1" style = "color:red;margin-top:-1%;display:none"> Feature name cannot be blank <p>

 <% if current_user.role == 'admin' %>
  <br> <br>
 <label for = "cat_category" style = "color:black;font-weight:bold;font-size:1.38em;margin-bottom:0.5vh;"> Category/Type </label>
 <input id = "cat_category" type="text" name="featurename" value="" placeholder="Category Name">
 <% else %>
 <label for = "cat_category" style = "color:black;font-weight:bold;font-size:1.38em;margin-bottom:0.5vh;display:none"> Category/Type </label>
 <input id = "cat_category" type="text" name="featurename" value="" placeholder="Category Name" style = "display:none">
 <% end %>
</form>


<br>
<form action="#" id = "opts" style = "display:block;">
  <div class = "opt-1">
  <br>
  <label for = "opt-1" style = "color:black;font-weight:bold;font-size:1.38em;margin-bottom:0.5vh;"> Feature Options </label>
  <input id = "opt-1" type="text" name="opt" value="" placeholder="Option 1">
  <p id = "error_2_1" style = "color:red;margin-top:-1%;display:none"> cannot be blank <p>
 </div>
</form>



<br>
<a id = "add_cat_btn" class="btn-floating btn-small waves-effect waves-light" style = "z-index:0;background-color:#3d6ab1;margin-left:0%;"><i class="material-icons">add</i></a> <p style = "font-weight:bold;font-size:1.15em;display:inline;margin-left:1%;"> Add Option </p>
<br> <br>
<p style = "color:black;font-weight:bold;font-size:1.38em;margin-bottom:0.5vh"> Is the information about the request, or the driver? </p> <br>
<label style = "display:inline;margin-right:5%;">
 <input id = "req" class="with-gap" name="group3" type="radio" checked />
 <span style = "color:black;font-size:1.3em;">Request</span>
</label> <br/> <br/>
<label style = "display:inline;margin-right:5%;">
  <input id = "driv" class="with-gap" name="group3" type="radio" checked />
  <span style = "color:black;font-size:1.3em;">Driver</span>
</label>
<br><br>
<br> <br> <br>
<a class="waves-effect waves-dark btn" id = "submit_cat_btn" style = "margin-top:-5%;width:20%;color:#FFFFFF;display:block;float:right;background-color:#3d6ab1;"> Submit </a>
</div>


<script type="text/javascript">



  $("#add_cat_btn").click(function(event) {
    let childs = ($("#opts")[0]).children
    let len = childs.length
    last_opt = len
    last_opt = last_opt + 1
    var txt1 = `  <div class = "opt-${last_opt}"> <input id = "opt-${last_opt}" type="text" name="opt" value="" placeholder="Option ${last_opt}">   <p id = "error_2_${last_opt}" style = "color:red;margin-top:-1%;display:none"> cannot be blank <p> </div>`;
    $("#opts").append(txt1);
  });


  $("#submit_cat_btn").click(function(event) {
    let name = $("#feature-name")[0].value
    let cati = $("#cat_category")[0].value
    if (name == "")
    {
      $("#error_1_1").css('display', 'block')
      last_opt =   (($("#opts")[0]).children).length
      for (let i = 0; i < last_opt; i++)
      {
        if (($("#opt-"+(i+1))[0]).value == "")
        {   $(`#error_2_${(i+1)}`).css('display', 'block') }
        else {  $(`#error_2_${(i+1)}`).css('display', 'none')}
      }
    }
    else {
      $("#error_1_1").css('display', 'none')
      let childs = ($("#opts")[0]).children
      let len = childs.length
      last_opt = len
      var options = ""
      var errd = false
      var categor;
      if (($("#req")[0]).checked){categor="request"}
      else {categor="driver"}

      for (let i = 0; i < last_opt; i++)
      {
        id = i + 1
        let valu = ($("#opt-"+id)[0]).value
        if (valu == "")
        {
          $(`#error_2_${id}`).css('display', 'block')
          errd = true
        } else {  $(`#error_2_${id}`).css('display', 'none')}
        options = options + valu + "*"
      }
      if (errd == true) {return -1}
      options = options.slice(0, options.length-1)
      let cat = 1;

      let upper = 0;
      let lower = 0;

      $.ajax({
        url: "/features?cat="+cat+"&name="+name+"&upper="+upper +"&lower="+lower +"&opts="+options+"&category="+categor +"&description="+cati,
        type: "post",
        success: function(){
          console.log('Saved Successfully');
          modal.style.display = "none";
          $("#con_con").css('display', 'none')
          $("#cat_con").css('display', 'none')
          location.reload();
         },
        error:function($xhr){
          console.log($xhr);
        }
      });
    }
  });



</script>
