<div id = "pg_3" style = "display:none">
<h3 id = "feat_select" class="title" >Pairwise Comparisons Summary</h3>
<hr class="feature-hr"/>
<br>

<p class="feature-text" >
  Thank you for your input in the previous scenario exercises. For clarificaiton purposes,
  we will highlight again the difference between the Personal Preference and Social Preference
  profiles. On the next screen, you will find an evaluations form. 
</p>
<br> <br> <br>


<p class="pg-1-subheader"> Part 1. Personal Preference</p>
<p class="feature-text" >
  For this part, you chose between two requests based on features that you would consider
  if you were to make an algorithm for youself.
</p>
<br>
<p class="pg-1-subheader">Part 2. Social Ranking </p>
<p class="feature-text" > 
  For this part, you acted as the algorithm and chose which driver should get the ping.
</p>
<br> <br>

<a href = "evaluations/" class="waves-effect waves-dark btn" id = "start_btn_2" style = "float:right;width:18.5%;padding-top:0.7%;padding-bottom:4%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;font-size:1.2em;margin-right:5%;"> NEXT </a>
<br><br><br><br><br><br><br><br><br><br>

</div>
