<div id = "pg_1" style = "width:90%;margin-left:5%;">
<h1 id = "feat_select" style = "margin-left:10%;color:#3d6ab1" >Pairwise Comparsion Part 1/2</h1>
<hr style = "margin-left:-15%;color: white;border-width: 1px;overflow:visible;width: 130%;"/>
<br>

<p style = "margin-left:10%;color:black;width:75%;font-size:1.5em;line-height:22pt;font-weight:normal;" >
  In the previous exercise, you chose features that you believe your company’s in-app algorithm should
  consider when matching drivers to requests. We are now going to give you some sets of hypothetical
  scenarios based on your chosen features. Each set will have two options, and it is up to your discretion
  to choose which is the better option. Please assume that these scenarios take place in a small, set location
  (not a large area like New York City.) Your decisions for each set will be used to help train a new
  matching algorithm that we are developing for test cases.
</p>
<br> <br> <br>


<p style = "margin-left:10%;font-size:2.4em;font-weight:bold;color:#3d6ab1">Part 1. Personal Preference</p>
<p style = "margin-left:10%;color:black;width:90%;font-size:1.5em;line-height:17pt;font-weight:normal;">
  For the following scenario sets, please assume that you have your app open and the algorithm
  notifies you of two potential requests in your area. Based on the information you believe
  the algorithm should consider when assigning requests to drivers, please choose which request
  you would prefer the algorithm to match you with. The information below are features you
  previously chose that are applicable to these sets of scenarios.
</p>
<br> <br>

<p style = "margin-left:10%;font-size:1.25em;font-weight:bold;color:#3d6ab1">Scenarios will include - </p>

<% counter_p1 = 0 %>
<div style = "margin-left:10%;width:80%" class= "box">
  <br>
  <% while counter_p1 < @feats.size %>
    <div style = "width:50%;float:left"> <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%">  <%= @feats[counter_p1].name %>  </p></div> <br/>  <br/>
    <% if counter_p1 + 1 < @feats.size %>
      <div style = "width:50%;float:right;margin-top:-3%"> <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%">  <%= @feats[counter_p1+1].name %> </p></div>
    <% end %>
    <% counter_p1 += 2 %>
  <% end %>
  </div>
  <br/>
<a class="waves-effect waves-dark btn" id = "start_btn_1" style = "float:right;width:12.5%;padding-top:0.7%;padding-bottom:4%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;font-size:1.2em;"> Start </a>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
