<div id = "pg_2" style = "width:90%;margin-left:5%;display:none">
<h1 id = "feat_select" style = "margin-left:10%;color:#3d6ab1" >Pairwise Comparsion Part 2/2</h1> <p style ="font-weight:lighter;font-size:2.3em;color:#3d6ab1;display:inline;float:right;margin-top:-3.5%"> Part 1 Completed </p>
<hr style = "margin-left:-15%;color: white;border-width: 1px;overflow:visible;width: 130%;"/>
<br>

<p style = "margin-left:10%;color:black;width:75%;font-size:1.5em;line-height:22pt;font-weight:normal;">
  In the previous exercise, you chose features that you believe your company’s in-app algorithm
  should consider when matching drivers to customers. We are now going to give you some sets of
  hypothetical scenarios based on your chosen features. Each set will have two options, and it is
  up to your discretion to choose which is the better option. Please assume that these scenarios
  take place in a small, set location (not a large area like New York City.) Your decisions for each
  set will be used to help train a new matching algorithm that we are developing for test cases.
</p>
<br> <br> <br>


<p style = "margin-left:10%;font-size:2.4em;font-weight:bold;color:#3d6ab1">Part 2. Social Ranking </p>
<p style = "margin-left:10%;color:black;width:90%;font-size:1.5em;line-height:17pt;font-weight:normal;">
  For the following scenario sets, please assume the role of the algorithm. You will be given two
  drivers competing for the same customer ping. Based on the information you believe the algorithm
  should consider when assigning drivers to requests, please choose which driver you would prefer the
  algorithm to match with the request ping. The information below are features you previously chose that
  are applicable to these sets of scenarios.
</p>

<br> <br>

<p style = "margin-left:10%;font-size:1.25em;font-weight:bold;color:#3d6ab1">Scenarios will include - </p>

<% counter_p2 = 0 %>
<div style = "margin-left:10%;width:80%" class= "box">
  <br>
  <% while counter_p2 < @feats_1.size %>
    <div style = "width:50%;float:left"> <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%">  <%= @feats_1[counter_p2].name %>  </p></div> <br/>  <br/>
    <% if counter_p2 + 1 < @feats_1.size %>
      <div style = "width:50%;float:right;margin-top:-3%"> <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%">  <%= @feats_1[counter_p2+1].name %> </p></div>
    <% end %>
    <% counter_p2 += 2 %>
  <% end %>
  </div>
  <br/>

<a class="waves-effect waves-dark btn" id = "start_btn_2" style = "float:right;width:12.5%;padding-top:0.7%;padding-bottom:4%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;font-size:1.2em;"> Start </a>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
