<div id = "pg_2" style = "display:none">
  <h3 class="title">Social Preference for Global Assignment</h3>
  <hr class="feature-hr">
  <br>

  <div class="social-image-block">
    <div class="text-image-container">
      <h2 class = "title">Social Ranking</h2>
      <h5 class = "title" style="color:#769FCD;">Who Should Get the Ping?</h5>
    </div>
    <%= image_tag ('Social_Ranking.png'), :class => "social-ranking-image" %>
  </div>


  <%= link_to 'NEXT', new_how_path, method: :post, :class => "waves-effect waves-dark btn", :style => "z-index:0;margin-top:5%;margin-right:10vw;float:right;width:12.5%;padding-top:0.7%;padding-bottom:3%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;font-size:1.2em;" %>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
