<div id = "pg_1">
  <h2 class="title">Answer Pairwise Comparisons to Train Your Individual Preference Profile</h2>
  <hr class="feature-hr">
  <br>

  <p class="feature-text">
    In the previous exercise, you chose features that you believe your company’s in-app algorithm 
    should consider when matching drivers to requests. We are now going to give you some sets of 
    hypothetical scenarios based on your chosen features. Each set will have two options, and it 
    is up to your discretion to choose which is the better option. Please assume that these scenarios 
    take place in a small, set location (not a large area like New York City.) Your decisions for 
    each set will be used to help train a new matching algorithm that we are developing for test cases.
  </p>
  <br> <br> <br>

  <div class="pg-1-image-block">
    <div class="text-image-container">
      <p class="pg-1-subheader"> Part 1. Personal Preference</p>
      <p class = "feature-text">
        For the following scenario sets, please assume that you have your app open and the algorithm notifies 
        you of two potential requests in your area. Based on the information you believe the algorithm should 
        consider when assigning requests to drivers, please choose which request you would prefer the algorithm 
        to match you with. The information below are features you previously chose that are applicable to these sets of scenarios.
      </p>
    </div>
    <%= image_tag ('Personal_Pref.png'), :class => "personal-pref-image" %>
  </div>

  <p class="pg-1-subheader">Scenarios will include: </p>

  <div>
    <% @feats.each do |f| %>
        <p class = "scenario-names"><%= f.name %></p>
    <% end %>
  </div>
  <a class="waves-effect waves-dark start_btn btn" id="start_btn_1" > Start </a>
  <br><br><br><br><br><br><br><br>

</div>
