<div id = "pg_1" class="container">
<h1 id = "feat_select" style = "color:#3d6ab1" >Pairwise Comparsion Part 1/2</h1>
<hr class="break-container">


<br>

<p style = "color:black;width:75%;font-size:1.5em;line-height:22pt;font-weight:normal;" >Based on the factors you believe the algorithm should consider when matching drivers to requests, we are now going to give you some sets of scenarios. Each set will have two options, and it is up to your discretion to choose which is the better option. Please assume that these scenarios take place in a small, set location (not a large area like New York City.) Your answers will be used to help train a new matching algorithm we are developing for test cases.</p>
<br> <br> <br>


<p style = "font-size:2.4em;font-weight:bold;color:#3d6ab1"> Part 1. Personal Preference</p>
<p style = "color:black;width:90%;font-size:1.5em;line-height:17pt;font-weight:normal;" > Between two requests, choose the request you would prefer over the other by comparing different factors </p>
<p style = "color:black;width:90%;font-size:1.5em;line-height:17pt;font-weight:normal;" > Below are the factors you chose previously that are applicable in finding out about your preferences on requests.</p>
<br>
<br>


<p style = "font-size:1.25em;font-weight:bold;color:#3d6ab1">Scenarios will include - </p>

<div style = "width:80%" class= "box">
  <br>
  <% @feats.each do |f| %>
    <div style = "width:100%;float:left"> <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%">  <%= f.name %>  </p></div> <br/>  <br/>
  <% end %>
  </div>
  <br/>
<a class="waves-effect waves-dark btn" id = "start_btn_1" style = "float:right;width:12.5%;padding-top:0.7%;padding-bottom:4%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;font-size:1.2em;"> Start </a>
<br><br><br><br><br><br><br><br>

</div>
