<div id = "pg_2" style = "width:90%;margin-left:5%;display:none">
<h1 id = "feat_select" style = "margin-left:10%;color:#3d6ab1" >Pairwise Comparsion Part 2/2</h1> <p style ="font-weight:lighter;font-size:2.3em;color:#3d6ab1;display:inline;float:right;margin-top:-3.5%"> Part 1 Completed </p>
<hr style = "margin-left:-15%;color: white;border-width: 1px;overflow:visible;width: 130%;"/>
<br>

<p style = "margin-left:10%;color:black;width:75%;font-size:1.5em;line-height:22pt;font-weight:normal;" >Below are the factors you chose previously that are applicable in finding out about your preferences on requests.
Based on the factors you believe the algorithm should consider when matching drivers to requests, we are now going
to give you some sets of scenarios. Each set will have two options, and it is up to your discretion to choose which is
the better option. Please assume that these scenarios take place in a small, set location (not a large area like New
York City.) Your answers will be used to help train a new matching algorithm we are developing for test cases. </p>
<br> <br> <br>


<p style = "margin-left:10%;font-size:2.4em;font-weight:bold;color:#3d6ab1">Part 2. Social Ranking </p>
<p style = "margin-left:10%;color:black;width:90%;font-size:1.5em;line-height:17pt;font-weight:normal;" > Between two drivers, choose the driver who you think deserves the request by comparing different factors.  </p>
<p style = "margin-left:10%;color:black;width:90%;font-size:1.5em;line-height:17pt;font-weight:normal;" >Below are the factors you previously chose that are applicable in finding out about your standards on drivers.  </p>

<br> <br>

<p style = "margin-left:10%;font-size:1.25em;font-weight:bold;color:#3d6ab1">Scenarios will include - </p>

<div style = "margin-left:10%;width:80%" class= "box">
  <div style = "width:50%;float:left"> <p style = "color:#3d6ab1;font-size:1.1em"> How often the customer tips  </p> <br/>  <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%"> Average rating the customer gives to customers  </p></div>
  <div style = "width:50%;float:right"> <p style = "color:#3d6ab1;font-size:1.1em"> Nubmer of requests the customer cancelled today  </p> <br/>  <p style = "font-size:1.1em;color:#3d6ab1;margin-top:-3%"> Distance between the courrier and the restaurant </p></div>
  </div>
  <br/>

<a class="waves-effect waves-dark btn" id = "start_btn_2" style = "float:right;width:12.5%;padding-top:0.7%;padding-bottom:4%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;font-size:1.2em;"> Start </a>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
