<div id = "pg_1">
  <h3 class="title">Answer Pairwise Comparisons to Train Your Work Preference Model</h3>
  <hr class="feature-hr">
  <br>

  <p class="feature-text">
    We are now going to give you some sets of hypothetical scenarios based on your chosen features. 
    Each set will have two options, and it is up to your discretion to choose which is the better option. 
    Your decisions will be used to help train our own matching algorithm.
  </p>
  <br> <br> <br>

  <div class="pg-1-image-block">
    <div class="text-image-container">
      <p class="pg-1-subheader"> Part 1. Personal Preference</p>
      <p class = "feature-text">
        Please assume that the algorithm notifies you of two potential requests. Please choose which request you would prefer the algorithm 
        to match you with. The information below are features you believe that algorithm should consider. 
      </p>
    </div>
    <%= image_tag ('Personal_Pref.png'), :class => "personal-pref-image" %>
  </div>

  <p class="pg-1-subheader">Scenarios will include: </p>

  <div>
    <% @feats.each do |f| %>
        <p class = "scenario-names"><%= f.name %></p>
    <% end %>
  </div>
  <a class="waves-effect waves-dark start_btn btn" id="start_btn_1" > Start </a>
  <br><br><br><br><br><br><br><br>

</div>
