<div id = "pg_1">
  <h3 class="title">Answer Pairwise Comparisons to Train Your Social Preference Profile</h3>
  <hr class="feature-hr">

  <p class="feature-text"> Below are the factors you chose previously that are applicable in finding out about your preferences on drivers.</p>
  <br><br>
  <p class="pg-1-subheader">Scenarios will include: </p>

  <% counter_p1 = 0 %>
  <div>
    <% @feats_1.each do |f| %>
      <p class = "scenario-names"><%= f.name %></p>
    <% end %>
  </div>
  <a class="waves-effect waves-dark btn" id = "start_btn_4"> Start </a>
  <br><br><br><br><br><br><br><br>

</div>
