<div class="container">
<h1>Thank you for participating!</h1>
<p>
We really appreciate your help with our research on algorithms. 
Your answers and decisions from this study will be used to help train our
own matching algorithm that mirrors the real-world systems used by companies like Uber, Lyft, and Postmates.
</p>
</div>