<div id="rl-page">
  <h1> Ranked List </h1>

  <% rankedListExamples = @rankedListExamples %>
  <% selectedFeats = @selectedFeats %>

  <div class = "row">
    <div class = "column">
    <h3> Generated List </h3>
    <% rankedListExamples.each do |rl| %>
      <div class="container">
        <div class="numberCircle">1</div>
        <div class="card default">
          <div class="card-content">
            <% counter = 0 %>
            <% selectedFeats.size.times do %>
              <% puts @selectedFeats.map{|n| n.category}.inspect %>
                <div class = "cardRow">
                  <div class = "column left">
                    <p class="feature-name">  <%= Feature.find(Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]).name %> </p>
                  </div>
                  <div class = "column right">
                    <p class="feature-value">  <%= Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h[Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]] %> </p>
                  </div>
                </div>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class = "column">
    <h3> Your List </h3>
    <% rankedListExamples.each do |rl| %>
      <div class="container">
        <div class="numberCircle">1</div>
        <div id = "user-list" class="card default">
          <div class="card-content">
            <% counter = 0 %>
            <% selectedFeats.size.times do %>
              <% puts @selectedFeats.map{|n| n.category}.inspect %>
                <div class = "cardRow">
                  <div class = "column left">
                    <p class="feature-name">  <%= Feature.find(Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]).name %> </p>
                  </div>
                  <div class = "column right">
                    <p class="feature-value">  <%= Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h[Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]] %> </p>
                  </div>
                </div>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>