<h1>Editing Participant Feature Weight</h1>

<%= render 'form', participant_feature_weight: @participant_feature_weight %>

<%= link_to 'Show', @participant_feature_weight %> |
<%= link_to 'Back', participant_feature_weights_path %>
