<h1>Editing Categorical Data Option</h1>

<%= render 'form', categorical_data_option: @categorical_data_option %>

<%= link_to 'Show', @categorical_data_option %> |
<%= link_to 'Back', categorical_data_options_path %>
