* {
  font-family: 'pragmatica', sans-serif;
  font-style: normal;
  font-weight: 200;
}

textarea:focus {
border-bottom: none!important;
box-shadow: none!important;
}

a:hover
{
  color: #ffffff;
}

/* login page styling */
.login-b1
{
  margin-top:5%;
  margin-right: 4vw;
  width:33%;
  float:right;
}


.login-b1 span
{
  color: #3d6ab1;
  font-weight: bold;
  font-size:3em;
  margin-left:3.5vw;
  margin-bottom: 60px;
}

.login-b1 hr
{
  color: white;
  border-width: 0.25pt;
  overflow:visible;
  width: 125%;
  margin-top: 60px;
  margin-bottom: 35px;
}

.control-group-id label {
  color: black;
  font-weight:bold;
  font-size: 1.38em;
  margin-bottom:2.5vh;
}


.control-group-password label {
  color: black;
  font-weight:bold;
  font-size: 1.38em;
  margin-bottom:2.5vh;
}

.actions-login input[type=submit]
{
  margin-top:12vh;
  margin-left: 16.5vw;
  background: #3d6ab1;
  color: #ffffff;
  border-radius: 5px;
  width: 12.5vw;
  height: 7.5vh;
  font-weight: bold;
  font-size: 1.38em;
  cursor: pointer;
}

.login-b2 {
  background: #3d6ab1;
  float:left;
  width:63%;
  z-index:3;
  height: 100vh;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #949494;
 font-style: italic;
 font-size: 1.2em;
 font-weight: normal;
}

::-moz-placeholder { /* Firefox 19+ */
 color: #949494;
 font-style: italic;
 font-size: 1.2em;
 font-weight: normal;
}

.login-b1 form
{
  margin-left: 3.5vw;
}


.login-b2 h3
{
  margin-top:5%;
  margin-left:9%;
  font-weight: bold;
  line-height:1.25;
  color: white;
  font-family: "Helvetica Neue bold", sans-serif;
}

.login-b2 p
{
  margin-top:5%;
  margin-left:9%;
  margin-right:9%;
  font-size:23px;
  font-weight:400;
  line-height:1.25;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.modal-header {
  color:#3d6ab1;
  font-weight:bold;
}

.feature-label {
  color: black;
  font-weight: bold;
  font-size: 1.38em;
  margin-bottom: 0.5vh;
}

.break-container {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

/* END OF Login */


/* Feature Selection styling */

#feat_select
{
  font-size: 3.1em;
  font-weight:bold;
}

#hhr
 {
   color: white;
   border-width: 1px;
   overflow:visible;
   width: 125%;
 }

 #range_form
 {
   float:right;
 }

.error-1-style {
  color:red;
  margin-top:-1%;
  display:none;
}


/* Feature page styling */
.title {
  margin-left:10%;
  margin-right:10%;
  color:#3d6ab1;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.feature-text {
  margin-left:10%;
  width:80%;
  font-size:23px;
  font-weight:400;
  line-height:1.5;
  font-family: "Helvetica Neue", sans-serif;
  color: #636363;
}

.feature-list {
  margin-left:5%;
  width:80%;
}

.feature-hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature-selection-image {
  margin-top: 5%;
  width:30%;
  margin-right:10%;
  height: auto;
  z-index:-1;
}

.feature-image-block {
  display: flex;
  align-items: center;
  margin-top: -8%;
  margin-bottom: -6%;
}

.feature-table{
  color: #515151;
  margin-left:10%;
  margin-right:5%;
  width:80%;
}

.subheader {
  font-weight:bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 2%;
  margin-left:10%;
  font-family: "Helvetica Neue", sans-serif;
  color:black;
}

.feature-card-text {
  font-size:24px;
  font-weight:400;
  line-height:1.3;
  font-family: "Helvetica Neue", sans-serif;
  color: #636363;
  display: block;
  max-width: 70%;
  float:left;
  word-wrap:break-word;
  margin-top:-1% !important;
}


/* Page 1 styling */

.pg-1-subheader {
  font-size:2.4em;
  font-weight:bold;
  color:#3d6ab1;
  font-family: "Helvetica Neue", sans-serif;
  margin-left:10%;
}

.text-image-container {
  margin-left:1%;
  margin-top:-4%;
}

.pg-1-image-block {
  display: flex;
  align-items: center;
  margin-top: -4%;
  margin-left: 3%;
  width: 80%;
}

.personal-pref-image {
  margin-top:-3%;
  width:20%;
  height: auto;
  z-index: -1;
}

.scenario-names {
  color:#3d6ab1;
  margin-left:10%;
  width:80%;
  font-size:23px;
  font-weight:400;
  line-height:1.5;
  font-family: "Helvetica Neue", sans-serif;
}

#start_btn_1 {
  margin-top: 3%;
  margin-right: 7.5%;
  background: #3d6ab1;
  color: #ffffff;
  border-radius: 5px;
  width: 12.5vw;
  height: 7.5vh;
  font-weight: bold;
  font-size: 1.38em;
  line-height: 70px;
  float: right;
}

.social-ranking-image {
  width:40%;
  height: auto;
}

.social-image-block {
  display: flex;
  align-items: center;
  width: 60%;
  margin: auto;
}
#start_btn_4 {
  margin-top: 3%;
  margin-right: 7.5%;
  background: #3d6ab1;
  color: #ffffff;
  border-radius: 5px;
  width: 12.5vw;
  height: 7.5vh;
  font-weight: bold;
  font-size: 1.38em;
  line-height: 70px;
  float: right;
}

#rank_yes_btn {
  margin-top: 100%;
  background: #3d6ab1;
  color: #ffffff;
  border-radius: 5px;
  width: 12.5vw;
  height: 7.5vh;
  font-weight: bold;
  font-size: 1.38em;
  line-height: 70px;
}

.evaluation-image {
  margin-top: 0%;
  width:30%;
  height: auto;
}

.evaluation-image-block {
  display: flex;
  align-items: center;
  margin-top: -2%;
  margin-bottom: -6%;
  margin-right: 10%;
  margin-left: 1%;
}

#counter {
  text-align:center;
  font-weight:lighter;
  color:#3d6ab1;
  font-family: "Helvetica Neue bold", sans-serif;
  font-weight: bold;
  margin-top: 5%;
}

.range-field {
  float:right;
  font-size:22px;
  font-weight:400;
  font-family: "Helvetica Neue", sans-serif;
  margin-top:-1% !important; 
}

#range_form {
  width:30%;
  float:right;
  margin-top:-1.5%;
}

.feature-name {
  margin-bottom:5%;
  margin-top:2%;
  font-size:20px;
  line-height:1.4;
  font-family: "Helvetica Neue", sans-serif;
  font-weight:400;
}

.feature-value {
  font-size:22px;
  display:inline-block;
  font-family: "Helvetica Neue", sans-serif;
  font-weight:bold;
}

.feature-icon {
  font-size:30px;
  float:left;
  margin-left:-2% !important;
  margin-right:1% !important;
  margin-top:-.5% !important;
}

.pc-feature-icon {
  font-size:25px;
  float:left;
  margin-right:2% !important;
}

.pc-selection {
  margin-top:"3%";
  font-weight:"bold";
  font-family: "Helvetica Neue", sans-serif;
  font-size:14px;
}

.pc-header {
  color:#3d6ab1;
  font-weight: bold;
}

.new-feature-modal {
  position: relative;
  top: 10%;
  left: 10%;
  width:80%;
  background-color: white;
  z-index:10;
  border: 2px solid #636363;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 1000px;
}

.modal-title {
  margin-left:5%;
  padding-top:10px;
  color:#3d6ab1;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  display: inline-block;
}

.modal-hr {
  width:100%;
  z-index: -1;
}

.modal-subheader {
  font-weight:bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 2%;
  margin-left:5%;
  font-family: "Helvetica Neue", sans-serif;
  color:black;
}

.modal-text {
  margin-left:5%;
  width:80%;
  font-size:16px !important;
  font-weight:400;
  line-height:1.5;
  font-family: "Helvetica Neue", sans-serif;
  color: #636363;
}

.modal-subtext {
  margin-left:5%;
  width:80%;
  font-size:14px !important;
  font-weight:400;
  line-height:1.5;
  font-family: "Helvetica Neue", sans-serif;
  color: #636363;
}

.modal-exit-button {
  float: right;
  font-size:60px;
  margin-top:20px;
  margin-right:15px;
  color: #636363;
  cursor: pointer;
}

.modal-exit-button:hover {
  background-color: white;
  color: black;
}

.modal-next-button {
  margin-top:2%;
  margin-right:4%;
  margin-bottom:1%;
  float:right;
  width:15%; 
  padding-top:2%; 
  padding-bottom:2%; 
  color:#FFFFFF; 
  background-color:#3d6ab1; 
  text-align:center;
  font-weight:bold; 
  font-size:1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.modal-next-button:hover {
  background-color:#355ea1; 
}

.next-button {
  z-index:0 !important;
  margin-top:5%;
  margin-right:10vw; 
  margin-bottom:3%;
  float:right;
  width:12.5%;
  padding-top:25px; 
  padding-bottom:25px; 
  color:#FFFFFF;
  background-color:#3d6ab1;
  font-weight:bold;
  font-size:1.2em;
  text-align:center;
  border-radius: 5px;
}

.next-button:hover {
  background-color:#355ea1; 
}

.modal-input {
  margin-left:5% !important;
  width:90% !important;
}

#lower-bound {
  width:50%;
  margin-left:10%;
}

#upper-bound {
  width:50%;
  margin-left:10%;
}

.helper-text {
  margin-left:10%;
  font-size:14px !important;
  font-weight:400;
  line-height:1.5;
  font-family: "Helvetica Neue", sans-serif;
  color: #636363;
}

input:focus {
  border-bottom: 1px solid !important;
  -webkit-box-shadow: 0 1px 0 0 !important;
  -moz-box-shadow: 0 1px 0 0 !important;
  box-shadow: 0 1px 0 0 !important;
}

/* Work Preference Page Styling */

#wp-page .wp-container {
  display:flex;
}

#wp-page .wp-image {
  float:left;
  height: 95vh;
  width:auto;
  margin-top:2px;
}

#wp-page .wp-text {
  float:right;
  max-width: 65%;
}

#wp-page .wp-title {
  font-family: "Helvetica Neue bold", sans-serif;
  margin-top:2%;
  color:#3D6AB1;
  font-weight:550;
}

#wp-page .wp-subtitle {
  font-family: "Helvetica Neue bold", sans-serif;
  color:#79A2CF;
}

#wp-page .wp-description {
  font-family: "Helvetica Neue bold", sans-serif;
  font-size:22px;
  color: #636363;
  width:90%;
  line-height:1.4;
  font-weight:400;
}

#wp-page .wp-subtitle2 {
  margin-top:5%;
  font-family: "Helvetica Neue bold", sans-serif;
  color:#ABBEDD;
}

#wp-page .wp-image-row {
  margin-top:2%;
}

#wp-page .wp-image-col {
  float: left;
  width: 33.33%;
  text-align: center;
}

#wp-page .wp-sub-image {
  height:200px;
  margin-top:-10%;
  /* width:70%; */
}

#wp-page .num-circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 13px;
  background: #4C83BF;
  color: white;
  text-align: center;
  font-family: "Helvetica Neue bold", sans-serif;
  font-weight:bold;
  font-size:18px;
}