#rl-page h1 {
  text-align: center;
}

#rl-page .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#rl-page .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  cursor: grab;
}

#rl-page .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#rl-page h5 {
  color:#3d6ab1;
  margin-bottom: 25px;
}

#rl-page .feature-value {
  font-weight:bold;
  font-size:1.1em;
}

#rl-page .feature-name {
  margin-bottom:4%;
  margin-top:2%;
}