#rl-page h1 {
  text-align: center;
  color: #3d6ab1;
}

#rl-page h4 {
  margin-left:19%;
  display: inline-block;
}

#rl-page h5 {
  color:#3d6ab1;
  text-align: center;
  margin-top: -2%;
}

#rl-page h5.human-rank {
  margin-bottom: 8%;
  text-align: left;
  margin-left: 20%;
  display: inline-block;
}

#rl-page .directions {
  margin-left:10%;
  color:black;
  width:80%;
  font-size:1.5em;
  line-height:22pt;
  font-weight:normal;
}

#rl-page .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#rl-page .card {
  transition: 0.3s;
<<<<<<< HEAD
  width: 50%;
=======
  margin-right: 10px;
>>>>>>> a661ed8b2b9ea9a44b3b10b2eb2559780a842196
  border-radius: 5px;
}

#rl-page .feature-value {
  margin-top:2%;
  font-size:22px;
  display:inline-block;
  font-family: "Helvetica Neue", sans-serif;
  font-weight:bold;
}

#rl-page .feature-unit {
  font-size:20px;
  display:inline-block;
  font-family: "Helvetica Neue", sans-serif;
  font-weight:bold;
}

#rl-page .feature-name {
  margin-top:1%;
  margin-bottom:2%;
  font-size:20px;
  line-height:1.4;
  font-family: "Helvetica Neue", sans-serif;
  font-weight:400;
}

#rl-page .column {
  width: 50%;
}

#rl-page .row {
  width: 80%;
}

#rl-page .left {
  width: 60%;
}

#rl-page .right {
  width: 40%;
  margin-top: 2%;
  text-align: right;
}

#rl-page .default {
  cursor: default;
}

#rl-page .numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 9px;
  background: #3d6ab1;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#reorder_btn {
  margin-bottom: 2%;
  margin-left: 8%;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

#submit_btn {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 7.5%;
  background: #3d6ab1;
  color: #ffffff;
  border-radius: 5px;
  height: 7.5vh;
  font-weight: bold;
  font-size: 1.38em;
  line-height: 70px;
  float: right;
}

#lgtm_btn {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 7.5%;
  background: #3d6ab1;
  color: #ffffff;
  border-radius: 5px;
  height: 7.5vh;
  font-weight: bold;
  font-size: 1.38em;
  line-height: 70px;
  float: right;
}

#rl-page .human-rank-container {
  margin-top: 10%;
}

#rl-page .scenario-input {
  width: 20%;
}

#rl-page .rl-col {
  // float: left;
  display: inline-block;
  width: 16.6666%;
}

#rl-page .rl-row {
  margin: 0 auto;
  width: 90%;
}

#rl-page .rl-row:after {
  content: "";
  display: table;
  clear: both;
}