<h1 class = "title">New Feature</h1>

<%= render 'form', feature: @feature %>
<%= link_to 'Show', @feature %> |
<%= link_to 'Back', features_path %>
<%# <%= link_to 'Create Feature', feature_path(@feature) %>
